<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68873009942-3bev004378o92op1mqstjqaan5lolh3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68873009942-3bev004378o92op1mqstjqaan5lolh3u</string>
	<key>API_KEY</key>
	<string>AIzaSyABakJCYE8bdARk_XA1h-2PeJS-av1OJiI</string>
	<key>GCM_SENDER_ID</key>
	<string>68873009942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isyet.HelloFirebase</string>
	<key>PROJECT_ID</key>
	<string>isyettodolistios</string>
	<key>STORAGE_BUCKET</key>
	<string>isyettodolistios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68873009942:ios:0e8c666ff43710b2ac6e37</string>
</dict>
</plist>